# Ignore node_modules since we'll install fresh dependencies in the Docker container
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore build and cache directories
.next
out
build

# Ignore editor settings and system files
.vscode
.idea
.DS_Store
Thumbs.db

# Ignore Docker files
Dockerfile
.dockerignore
